/*generic rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

.container{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex{
    display: flex;
}

.jc-sb{
    justify-content: space-between;
}

.aling-it-ce{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

:root{
    --primary-color: rgb(0, 132, 253);
    --primary-color-light: rgb(181, 221, 255);
    --secondary-color: rgb(151, 146, 228);
    --white-color: rgb(255, 255, 255);
}

.mar-r{
    margin-right: 0.75rem;
}

.mar-l{
    margin-left: 0.75rem;
}

.mar-t{
    margin-top: 0.5rem;
}

.mar-b{
    margin-bottom: 0.5rem;
}

.btn{
    border-radius: 30px;
    padding: 0.5rem;
}

.btn-big{
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
}

.bord-rad{
    border-radius: 20px;
}

/*header*/

#header-bar, #header-bar .container{
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
}

.container .box{
    padding-top: 2rem;
}

.hamburger{
    display: none;
}

.list-nav li{
    list-style: none;
}

.list-nav .link{
    padding: 0 1rem;
}

.list-nav li a, #card-big div a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.list-nav li:last-child a{
    color: black;
}

.btn-white{
    background-color: var(--white-color);
}

.box{
    vertical-align: middle;}

.logo img{
    height: 50%;
}

/*--main--*/
/*--sezione info--*/
.card{
    background-color: var(--primary-color-light);
    width: calc((100% / 3) - 1rem);
    flex-direction: column;
    text-align: center;
    padding: 1rem 0.5rem;
    font-size: 15px;
}

.card .icon-big{
    font-size: 50px;
}

.card h3{
    padding: 1rem 0;
}

.card .icon-big, .card h4{
    color: var(--primary-color);
}

.container-card{
    margin: 1.5rem 0 2rem 0;
}

.container-card #card-big{
    width: calc((100% / 2) - 1rem);
    flex-grow: 1;
}

#card-big{
    flex-direction: row;
    text-align: left;
    padding: 0;
}

#card-big div{
    padding: 0 0.5rem;
}

#card-big div p{
    padding-bottom: 2rem;
}

.btn-blue{
    background-color: var(--primary-color);
}

.fa-apple{
    padding: 0 0.5rem;
}

#card-big div img{
    width: 100%;
    padding-top: 1rem;
}

/*--sezione column strategic--*/
.container-strategic .container, .container-strategic{
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: flex-end;
}

.container-strategic .container{
    margin-bottom: 1.5rem;
    padding: 3rem 5rem;
}

.column{
    width: calc(100% / 2 - 3rem);
}

.column img{
    width: 100%;
}

.col-1 img{
    padding: 5rem 0rem;
}

.col-1 h2{
    padding: 1rem 0;
}

.col-1{
    color: white;
    font-size: 15px;
    margin-right: 2rem;
}

.col-2{
    text-align: center;
    background-color: var(--white-color);
    margin-left: 2rem;
    margin-top: 1rem;
}

.col-2 h2{
    padding: 2rem;
}

.col-2 img{
    width: 50%;
}

.col-2 i{
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 50%;
    margin: 0.5rem 0;

}

/*--sezione testimonial--*/
.info-testimonials{
    text-align: center;
}

.testimonial{
    background-color: var(--secondary-color);
    margin: 1rem 0;
    color: white;
    font-size: 15px;
}

.testimonial img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit:cover;
    margin-right: 3rem;
}

.info-testimonials h2{
    padding: 1rem 0;
    color: var(--secondary-color);
}

.info-testimonials{
    font-size: 15px;
    margin-bottom: 1.5rem;
}

.testimonial div p{
    padding: 1rem 0;
}

#testimonial{
    margin-bottom: 3rem;
}

/*--sezione benefit--*/
.benefit .container, .benefit{
    background-color: var(--secondary-color);
    padding: 1rem;
}

#title-benefit{
    padding: 2rem 0;
}

.benefit .card{
    text-align: left;
    padding: 1rem;
    background-color: white;
}

.benefit .card h2{
    font-size: 40px;
}

.benefit .card h2,.benefit .card h4{
    color: var(--secondary-color);
}

.benefit .card h2,.benefit .card h4, .benefit .card p{
    padding: 0.5rem 0;
}

.benefit .card a{
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
}

.btn-benefit{
    margin-top: 1.5rem;
}

/*-- sezione about us--*/
#about-us{
    margin-top: 3rem;
}

.about-text h2{
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.about-text p{
    margin-bottom: 1rem;
}

.about-img h4{
    padding: 1rem 0;
    color: var(--secondary-color);
}

.about-img img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit:cover;
    margin-bottom: 0.5rem;
}

.btn-linkedin{
    background-color: var(--secondary-color);
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
}

.img-about-pos{
    position: relative;
}

.about-img .fa-quote-left{
    position: absolute;
    right: 0px;
    font-size: 60px;
    color: var(--secondary-color);
}




/*media query*/

/*DESKTOP*/
@media screen and (min-width: 1050px) {

}

/*TABLET*/

@media screen and (max-width: 768px) {
    .list-nav{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .container{
        padding: 0 1.5rem;
    } 

    #card-big{
        flex-direction: column;
    }

    .container-strategic .container{
        flex-direction: column;
        align-items: center;
    }

    .column{
        width: 100%;
    }
        
    .benefit .card{
        width: calc(100% / 2 - 1rem);
        margin: 0.5rem 0.5rem;
    }

    .col-1, .col-2{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .container-strategic .container{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

/*PHONE*/
@media screen and (max-width: 480px) {
    .container-card{
        flex-direction: column;
        align-content: center;
    }

    .card, .container-card #card-big{
        width: 100%;
        margin: 0.5rem 0;
    }

    .testimonial{
        flex-direction: column;
        align-items: center;
    }

    .benefit .card{
        width: 100%;
    }

    .testimonial{
        width: 100%;
        text-align: center;
    }

    .testimonial img{
        margin: 1rem 0;
    }

    .about .container{
        flex-direction: column;
        text-align: center;
    }
}