/*generic rule*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex{
    display: flex;
}

.jc-sb{
    justify-content: space-between;
}



.aling-it-ce{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

:root{
    --primary-color: rgb(0, 132, 253);
    --primary-color-light: rgb(181, 221, 255);
    --secondary-color: rgb(151, 146, 228);
}

.mar-r{
    margin-right: 0.75rem;
}

.mar-l{
    margin-left: 0.75rem;
}

.mar-t{
    margin-top: 0.5rem;
}

.mar-b{
    margin-bottom: 0.5rem;
}

/*header*/

#header-bar, #header-bar .container{
    background-color: var(--primary-color);
}

.container .box{
    padding:1rem;
    background-color: antiquewhite;    /*temp*/

}

.hamburger{
    display: none;
}

.list-nav li{
    list-style: none;
    padding: 0 1rem;
}


/*main*/
.card{
    background-color: var(--primary-color-light);
    width: calc((100% / 3) - 1rem);
    height: 200px;     /*temp*/
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container-card{
    margin: 1.5rem 0 2rem 0;
}

.container-card #card-big{
    width: calc((100% / 2) - 1rem);
    flex-grow: 1;
}

#card-big{
    flex-direction: row;
}

.container-strategic .container, .container-strategic{
    background-color: var(--secondary-color);
}

.container-strategic .container{
    margin-bottom: 1.5rem;
}

.column{
    height: 200px;   /*temp*/
    width: calc(100% / 2);
}

.info-testimonials{
    text-align: center;
}

.testimonial{
    background-color: var(--secondary-color);
    margin: 1rem 0;
    height: 100px;     /*temp*/
}

/*media query*/

/*DESKTOP*/
@media screen and (min-width: 1050px) {

}

/*TABLET*/

@media screen and (max-width: 768px) {
    .list-nav{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .container{
        padding: 0 1.5rem;
    } 

    #card-big{
        flex-direction: column;
    }

    .container-strategic .container{
        flex-direction: column;
        align-items: center;
    }

    .column{
        width: 100%;
    }
        
}

/*PHONE*/
@media screen and (max-width: 480px) {
    .container-card{
        flex-direction: column;
        align-content: center;
    }

    .card, .container-card #card-big{
        width: 100%;
        margin: 0.5rem 0;
    }

    .testimonial{
        flex-direction: column;
        align-items: center;
    }
}